.s1 {
  background-image: url(../images/1.png);
}

.s2 {
  background-image: url(../images/2.png);
}

.s3 {
  background-image: url(../images/3.png);
}

.s4 {
  background-image: url(../images/4.png);
}

.s6 {
  background-image: url(../images/6.png);
}

.s7 {
  background-image: url(../images/7.png);
}

.whitish {
    color: rgba(255, 255, 255, 0.5);
}

.cc_bg {
  background-image: url(../images/CryptoCase.png);
  height: 150px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: contain;
}

.blue_border {
  background: rgba(0, 194, 255, 0.2);
  backdrop-filter: blur(55px);
  padding: 35px 60px;
  border-radius: 30px;
}

.blue_border1 {
  background: rgba(0, 194, 255, 0.2);
  backdrop-filter: blur(55px);
  padding: 10px;
  border-radius: 30px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    
}

.swiper-full-mobile {
  position: relative;
  margin: auto;
}

.swiper-full-mobile:before {
  content: "";
  width: 202px;
  background: url(../images/iPhone\ 13\ Pro.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  height: 430px;
  z-index: 2;
  margin: 22px auto;
}
.swiper-full-mobile .swiper-slide {
height: 100%;
}
.carousel-item img{
width: 100%;
height: 403px;
width: 183px;
object-fit: cover;

}
.swiper-slide.swiper-slide-active img {
border-radius: 40px;

}

.bgnew {
  background-image: url(../images/5.png);
}

.inp_field {
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  background: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.qna {
  color: black;
}

.qna_border {
  border: 2px solid #e5e7eb;

}

.blue_border_add {
  color: #1E90FF;
  border-color: #1E90FF;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer{
  margin-bottom: 20px;
}

.vert {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1000px) {
  .vert {
    flex-direction: column;
  }
}